:root {
	--top-height: 63px;
}
html,
body {
	height: 100%;
}
body {
	font-size: 0.875rem;
}
#main {
	height: calc(100% - var(--top-height));
}

#log-main {
	display: flex;
	flex-direction: column;
	height: 100%;
}
#serial-logs {
	overflow-y: scroll;
	white-space: pre-wrap;
	word-break: break-all;
}
#serial-options,
#serial-tools {
	position: relative;
}
.toggle-button {
	align-items: center;
	background: none;
	border: 0;
	display: flex;
	flex: none;
	font-size: 20px;
	height: 100%;
	justify-content: center;
	width: 20px;
	z-index: 1;
	background-color: #f8f9fa;
}
.toggle-button:hover {
	background: rgba(228, 231, 242, 0.4);
}

#serial-tools {
	height: 100%;
}
#nav-tabContent {
	overflow: hidden;
}
#serial-tools .collapse.show,
#nav-quick-send.show {
	height: 100%;
	display: flex;
	flex-direction: column;
}
#nav-code {
	height: 100%;
}
#serial-code-editor .CodeMirror {
	height: 100%;
}
.CodeMirror-readonly {
	background-color: var(--bs-light-rgb);
	cursor: not-allowed;
}
